.container {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin: 40px;
    width: 50%;
}

table {
    border-collapse: collapse;
    box-shadow: 3px 3px 5px gray ;
}

td:first-child {
    width: 10%;
}

td:nth-child(even) {
    width: 20%;
}

thead {
    background-color: maroon;
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(173, 143, 143);
}

th, td {
    border: 1px solid grey;
    padding: 20px;
    line-height: 1.5;
    font-size: 1.5rem;
}