<section class="container">
  <p class="character-name">{{ character.name }}</p>
  <img
    [src]="character.image"
    alt="A character"
    class="image"
    *ngIf="character.image !== ''"
  />
  <table class="character-details-table">
    <tbody>
      <tr>
        <td>Age</td>
        <td></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ character.gender }}</td>
      </tr>
      <tr>
        <td>Hair Color</td>
        <td>{{ character.hairColor }}</td>
      </tr>
      <tr>
        <td>Eye Color</td>
        <td>{{ character.eyeColor }}</td>
      </tr>
      <tr>
        <td>Species</td>
        <td>{{ character.species }}</td>
      </tr>
      <tr>
        <td>House</td>
        <td>{{ character.house }}</td>
      </tr>
      <tr>
        <td>Ancestry</td>
        <td>{{ character.ancestry }}</td>
      </tr>
    </tbody>
  </table>
</section>
