<div class="try">
  <section class="container">
    <p class="character-name">Harry Potter</p>
    <img
      src="https://ik.imagekit.io/hpapi/harry.jpg"
      alt="A character"
      class="image"
    />
    <table class="character-details-table">
      <tbody>
        <tr>
          <td>Age</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>Wizard</td>
        </tr>
        <tr>
          <td>Species</td>
          <td>Human</td>
        </tr>
        <tr>
          <td>House</td>
          <td>Gryffindor</td>
        </tr>
        <tr>
          <td>Ancestry</td>
          <td>Half Blood</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="container">
    <p class="character-name">Harry Potter</p>
    <img
      src="https://ik.imagekit.io/hpapi/harry.jpg"
      alt="A character"
      class="image"
    />
    <table class="character-details-table">
      <tbody>
        <tr>
          <td>Age</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>Wizard</td>
        </tr>
        <tr>
          <td>Species</td>
          <td>Human</td>
        </tr>
        <tr>
          <td>House</td>
          <td>Gryffindor</td>
        </tr>
        <tr>
          <td>Ancestry</td>
          <td>Half Blood</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="container">
    <p class="character-name">Harry Potter</p>
    <img
      src="https://ik.imagekit.io/hpapi/harry.jpg"
      alt="A character"
      class="image"
    />
    <table class="character-details-table">
      <tbody>
        <tr>
          <td>Age</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>Wizard</td>
        </tr>
        <tr>
          <td>Species</td>
          <td>Human</td>
        </tr>
        <tr>
          <td>House</td>
          <td>Gryffindor</td>
        </tr>
        <tr>
          <td>Ancestry</td>
          <td>Half Blood</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="container">
    <p class="character-name">Harry Potter</p>
    <img
      src="https://ik.imagekit.io/hpapi/harry.jpg"
      alt="A character"
      class="image"
    />
    <table class="character-details-table">
      <tbody>
        <tr>
          <td>Age</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>Wizard</td>
        </tr>
        <tr>
          <td>Species</td>
          <td>Human</td>
        </tr>
        <tr>
          <td>House</td>
          <td>Gryffindor</td>
        </tr>
        <tr>
          <td>Ancestry</td>
          <td>Half Blood</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="container">
    <p class="character-name">Harry Potter</p>
    <img
      src="https://ik.imagekit.io/hpapi/harry.jpg"
      alt="A character"
      class="image"
    />
    <table class="character-details-table">
      <tbody>
        <tr>
          <td>Age</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>Wizard</td>
        </tr>
        <tr>
          <td>Species</td>
          <td>Human</td>
        </tr>
        <tr>
          <td>House</td>
          <td>Gryffindor</td>
        </tr>
        <tr>
          <td>Ancestry</td>
          <td>Half Blood</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="container">
    <p class="character-name">Harry Potter</p>
    <img
      src="https://ik.imagekit.io/hpapi/harry.jpg"
      alt="A character"
      class="image"
    />
    <table class="character-details-table">
      <tbody>
        <tr>
          <td>Age</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>Wizard</td>
        </tr>
        <tr>
          <td>Species</td>
          <td>Human</td>
        </tr>
        <tr>
          <td>House</td>
          <td>Gryffindor</td>
        </tr>
        <tr>
          <td>Ancestry</td>
          <td>Half Blood</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="container">
    <p class="character-name">Harry Potter</p>
    <img
      src="https://ik.imagekit.io/hpapi/harry.jpg"
      alt="A character"
      class="image"
    />
    <table class="character-details-table">
      <tbody>
        <tr>
          <td>Age</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>Wizard</td>
        </tr>
        <tr>
          <td>Species</td>
          <td>Human</td>
        </tr>
        <tr>
          <td>House</td>
          <td>Gryffindor</td>
        </tr>
        <tr>
          <td>Ancestry</td>
          <td>Half Blood</td>
        </tr>
      </tbody>
    </table>
  </section>
  
  
</div>
