.container,
.character-name {
  display: flex;
  justify-content: center;
}
.container {
  border: 1px solid grey;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  height: fit-content;
  width: 350px;
  border-radius: 10px;
}

.character-name {
  font-weight: bold;
  font-size: 2rem;
  padding: 20px;
}

.image {
  width: 250px;
  height: 320px;
  border-radius: 20px;
  margin: auto;
}

.character-details-table {
  border-collapse: collapse;
  margin: 20px;
}

.character-details-table td {
  border: 1px solid grey;
  padding: 10px;
  font-size: 1.5rem;
}

