.container,
.character-name {
  display: flex;
  justify-content: center;
}
.container {
  border: 1px solid tomato;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  height: fit-contentk;
  width: 350px;
}

.character-name {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.image {
  width: 200px;
  height: 300px;
  border-radius: 50px;
}

.character-details-table {
  border-collapse: collapse;
  margin: 20px;
}

.character-details-table td {
  border: 1px solid grey;
  padding: 10px;
  font-size: 1.5rem;
}
