.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 40px;
}
.header-link {
  font-size: 1.5rem;
  border-bottom: 2px solid grey;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
}
.results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 40px;
}
